.gallery {
    margin-top: 40px;
}

.gallery  > *{
    margin: 30px auto;
}

.gallery__menu {
    display: flex; 
    justify-content: center;
}

.gallery__menu > *{
    margin: 0 5px;
}

.gallery-masonry {
    width: 90%;    
    max-width: 800px;
    column-count: 2;
    column-gap: 1.5rem;    
}

.item{     
    cursor: pointer;
    min-height: 300px;
    margin: 0 0 1.5rem 0;            
    line-height: 0;
    background: rgb(233, 233, 233);        
}

.item > img {    
    position: relative;
    width: 100%;      
    min-height: 300px;  
    object-fit: cover;
}

@media screen and (min-width: 700px) {
    .gallery-masonry{
        column-count: 3;
    }
}